.container {
  background-color: #23C4ED;
  width: 40%;
  margin: auto;
  height: 600px;
  overflow: scroll;
}

h2 {
  display: inline;
  padding-left: 0.5rem;
}

.header {
  text-align: center;
}

input {
  position: relative;
  left: 0;
  margin-left: 1rem;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 0.3rem;
}

button {
  font-family: "monospace";
  color: white;
  margin-left: 14px;
  font-size: 1.3rem;
  background-color: #D82E2F;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.2rem 1rem;
}

.todo {
  background-color: #fff;
  padding: 1rem;
  margin: 0.6rem;
  border-radius: 0.3rem
}

@media screen and (max-width: 800px) {
  .container {
    background-color: #23C4ED;
    width: 100%;
    margin: auto;
    height: 600px;
    overflow: scroll;
  }
}